<!DOCTYPE html>
<html>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
<head>
  <title>Pet rating! Here is your score!</title>
  
</head>

<body style="background-color:rgb(207, 200, 200);">
  <center>
  <div class="topnav">
    <span>PetFinder Helper | Не можете оценить фото животного? Не беда! Мы можем!</span>
  </div> 
  {% if temp_filename is defined %}
  <div class="container">
    <br>
    <img src="{{ url_for( 'static', filename= 'temp/'+temp_filename) }}" width="600" />
    <b style='color:black'><br>Your pet is <span style="color:green">{{image_score}}</span> out of <span style="color:red">100</span>!</b> 
    <br> 
    <p style='color:rgb(212, 150, 34)'>But we know your pet is still the best!</p> 
  </div>
  {% endif %}
  <div class="rounded">
    <form action="/" method="POST" enctype='multipart/form-data' encoding='multipart/form-data'>
      <input type='file' name='pet_image' class='some_image_class'/>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
</center>
</body>

</html>