<!DOCTYPE html>
<html>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
<head>
  <title>Pet rating! Here is your score!</title>
  
</head>

<body style="background-color:grey;">
  
  <div class="topnav">
    <span color=#f3f3f3	font-family=cursive font-size=25px>PetFinder Helper | Не можете оценить фото животного? Не беда! Мы можем!</span>
  </div> 
  {% if temp_filename is defined %}
  <div class="container">
    <img src="{{ url_for( 'static', filename= 'temp/'+temp_filename) }}" max-width=45px max-height=45px />
    <b><br>{{image_score}}</b> 
  </div>
  {% endif %}

  <form action="/" method="POST" enctype='multipart/form-data' encoding='multipart/form-data'>
    <input type='file' name='pet_image' class='some_image_class'/>
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
</body>

</html>